<h3> Transportadoras: </h3>

<% if current_user.admin? %>
  <%= link_to 'Nova Transportadora', new_shipping_company_path %>
  <% if @shipping_companies.any? %>
    <% @shipping_companies.each do |s| %>
    <ul>
      <li>
        <%= link_to s.brand_name, s %>
      </li>
    </ul>
    <% end %>
  <% end %>
<% elsif current_user.company? %>
    <%= link_to @shipping_company.brand_name, shipping_company_path(@shipping_company)  %><br><br>

<% else %>
    <p> Não existem empresas cadastradas com seu email de domínio, favor entrar em contato com a Administração. </p>
<% end %>



  <%= link_to 'Voltar', root_path %>
