<%= link_to 'Nova Transportadora', new_shipping_company_path %>

<h3> Transportadoras: </h3>
<ul>
  <% @shipping_companies.each do |s|  %>
    <li>
      <%= link_to s.brand_name, s %>
    </li>
  <% end %>
</ul>

<%= link_to 'Voltar', root_path %>