<br>
<% if current_user == nil %>
<p> Efetue o <b>Login</b>, ou <b>Crie uma conta</b> para continuar </p>

<% elsif current_user.company? %>
<%= link_to 'Transportadora', shipping_companies_path  %>

<% elsif current_user.admin? %>
Você está logado como Administrador, boas vindas <%= current_user.email %>
<br>
<br>
<%= link_to 'Transportadoras', shipping_companies_path  %>
<br><%= link_to 'Produtos', products_path  %>
<% end %>
